* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --background-color: #0f1115;
    --secondary-background-color: #21252B;
    --font-color: #e2e6ea;
    --action-color: #01b4e4;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    color: var(--font-color);
    min-height: 100vh;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--action-color);
    border-radius: 4px;
}

#root {
    isolation: isolate;
}
